.todolist
  .title TODOLIST

  .input
    %input#input(type="text")
  .tasks

  .info
    .remain
      %span.num 0 
      left
    .clear Clear Done
    .clearfix

- content_for :scripts do
  = javascript_include_tag "todolist"

  %script#taskTemplate(type="text/x-jquery-tmpl")
    %div{class: "task \{\{if done\}\}done\{\{/if\}\}"}
      %div{class: "checkbox \{\{if done\}\}on\{\{/if\}\}"}
      .name ${name}
      %input.edit{type: "text", value: "${name}"}
      .delete ✖

  :coffeescript
  
    $ ->
        app = new TaskApp el: ".todolist"
